body {
    background: #000000;
}

h1, h2, p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #d8d8d8;
}

header {
    background-color: #333;
}
#navigation {
    background-color: black;
    color: aliceblue;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li {
    float: left;
}

#navigation a {
    display: block;
    padding: 8px;
    background-color: #333;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #111;
}

#navigation .active {
    background-color: #9E1212;
}