body {
    background: #404040;
}

h1, h2, p, a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #d8d8d8;
}

header {
    background-color: #333;
}
#navigation {
    background-color: black;
    color: aliceblue;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation li {
    float: left;
}

#navigation a {
    display: block;
    padding: 8px;
    background-color: #333;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #111;
}

#navigation .active {
    background-color: #9E1212;
}

.polaroid {
    width: 80%;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.polaroid img {
    
}

.container {
    text-align: center;
    padding: 10px 20px;
}