h1, h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
header {
    background-color: floralwhite;
    color: cadetblue;
}
#navigation {
    background-color: black;
    color: aliceblue;
}
